@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  
}

html, body {
  background-color: darkgray;
  min-height: 100vh;
  
}

header {
  background-color: black;
  text-align:center;
}

header > h1 {
  color: white;
}

header > p {
  color: white;
}

section#normal {
  background-color: white;
}